In [1]:
import os
import matplotlib.pyplot as plt
import geopandas as gpd
import earthpy as et

In [19]:
mapa = gpd.read_file('mex_nomgeo_i92.shp')
mapa.head()

,ID,fc,tergen,nombre,clase,clavecarta,geometry
0,1,533,Punta,IXTALAHUITE,5,D1403B28,POINT (3091663.514 420314.120)
1,2,533,Punta,COMETA,5,D1403B28,POINT (3085363.785 419846.423)
2,3,533,Punta,COMETA,5,D1403B28,POINT (3085639.797 419623.405)
3,4,533,Punta,IXTALAHUITE,5,D1403B28,POINT (3091625.533 419946.100)
4,5,504,Bahía,CHAHUE,5,D1403B19,POINT (3132420.696 432154.568)

In [20]:
mapa.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 2077 entries, 0 to 2076
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          2077 non-null   int64
 1   fc          1859 non-null   object
 2   tergen      1859 non-null   object
 3   nombre      2077 non-null   object
 4   clase       2077 non-null   object
 5   clavecarta  2077 non-null   object
 6   geometry    2077 non-null   geometry
dtypes: geometry(1), int64(1), object(5)
memory usage: 113.7+ KB

In [31]:
mapa["geometry"].unique(

TypeError: unique() takes 1 positional argument but 2 were given